/*Contenedor principal*/  
#perfil {
    width: 200px;
    float: left;
    margin-right: 20px;
}
#leerMasContent {
    display: none;
}
#leerMas {
    background-color: rgb(247, 166, 129);
    color: white;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 1px 3px black;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}
/*Fin Contenedor Principal*/