
/*Contenedor principal*/ 
#hobbies-btn, #mascotas-btn, #paseos-btn {
    background-color: rgb(247, 166, 129);
    color: rgba(80, 80, 168, 0.753);
    border-radius: 7px;
    border: none;
    box-shadow: 0px 1px 3px black;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}
#hobbies-btn:hover, #mascotas-btn:hover, #paseos-btn:hover {
    background-color: rgba(106, 106, 245, 0.527) !important;
}
#gallery {
    margin: 10px 0;
}
#mascotas, #paseos {
    display: none;
}
.img-card {
    display: inline-block;
    margin: 10px 2px;
}
.img-card img {
    width: 100%;
    max-width: 300px;
    min-width: 100ox;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}
.img-card img:hover {
    transform: scale(1.1);
}
#hobbies-btn {
    background-color: rgba(106, 106, 245, 0.527)
}
/*Fin Contenedor Principal*/