/*Contenedor principal*/
#banner {
    width: 100%;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}
ul {
    list-style-type: none;
    line-height: 200%;
    color: black;
}
/*Fin Contenedor Principal*/
/*Estilos de listas*/
.aprendido {
    padding: 10px;
    background-color: rgb(247, 203, 183);
    display: inline-block;
    width: 48%;
}
.pendiente {
    padding: 10px;
    background-color: rgb(228, 226, 206);
    display: inline-block;
    width: 48%;
}
/*Fin Estilos de listas*/