/* Estilos globales*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    max-width: 1280px;
    margin: 0 auto;
}
header, footer {
    background-color: rgba(106, 106, 245, 0.527);
    padding: 20px;
    color: white;
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.6));
}
#watt {
    display: inline-block;
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: auto;
    margin-right: 20px;
}
h1 {
    display: inline-block;
    margin-bottom: 5px;
}
#navegador-principal {
    background-color:rgb(247, 166, 129);
    padding: 10px 10px 10px 6px;
    margin-bottom: 6px;
    border-style: 2px outset;
}
.boton {
    color: rgba(80, 80, 168, 0.753);
    text-decoration: none;
    font-weight: bold;
    border-right: 2px solid rgba(50, 50, 114, 0.527);
    padding: 11px;
    margin-left: -7px;
}
.boton:hover {
    color: white;
    background-color: rgba(106, 106, 245, 0.527);
}
main {
    padding: 20px;
    overflow: hidden;
    background: rgb(250, 245, 245);
    text-align: justify;
}
p {
    line-height: 140%;
}
i {
    color: white;
}
h2, h3 {
    color: tomato;
}
/* Fin de Estilos globales*/